body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  background-color: #fafbff;
  box-sizing: border-box;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.dashboard {
  @apply flex min-h-screen w-full;

  &__aside {
    flex: 0 0 306px;
    max-width: 306px;
    width: 100%;
    padding: 36px 28px 76px;
    background-color: #fff;
    box-shadow: 0px 10px 60px 0px #e2ecf980;
  }

  &__content {
    padding: 41px 95px 41px 71px;
    flex: 1;
  }
  &__hello {
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 51px;
  }

  &__search {
    max-width: 216px;
    width: 100%;
    background-color: #f9fbff;
    padding: 7px 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    button {
      margin-right: 4px;
      flex: 0 0 24px;
      width: 24px;
    }

    input {
      max-width: calc(100% - 24px);
      width: 100%;
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      background: transparent;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.01em;
      padding: 4px;

      &::placeholder {
        color: #b5b7c0;
      }
    }
  }

  &__table {
    padding: 30px 40px 40px 38px;
    box-shadow: 0px 10px 60px 0px #e2ecf980;
    background-color: #fff;
    border-radius: 30px;
    &-title {
      @apply flex items-center justify-between;
      margin-bottom: 40px;
    }

    &-head {
      display: flex;
      font-weight: 500;
      color: #b5b7c0;
      border-bottom: 1px solid #eeeeee;
      padding-bottom: 14px;
      margin-left: -38px;
      margin-right: -40px;
      padding-left: 38px;
      padding-right: 40px;
      margin-bottom: 20px;
    }

    &-item{
      display: flex;
      align-items: center;
      font-weight: 500;
      color: #292D32;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #eeeeee;

    }

    .title-all {
      font-size: 22px;
      font-weight: 600;
      line-height: 33px;
      letter-spacing: -0.01em;
      color: #000;
      margin-bottom: 7px;
    }
    .title-active {
      color: #16c098;
    }

    .name {
      flex: 0 0 19%;
    }
    .company {
      flex: 0 0 15%;
    }
    .phone {
      flex: 0 0 17%;
    }
    .email {
      flex: 0 0 23%;
    }
    .country {
      flex: 0 0 15%;
    }
    .status {
      flex:  0 0 80px;
      display: flex;
      justify-content: center;
    }
  }
}
